body
{
	background-image:url(img/img1.jpg);
	background-attachment: fixed;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.mainDiv
{	
	background-color: rgba(153,153,153, 0.7);
	width: 50%;
	height: 450px;
	margin-left: 25%;
	margin-top: 8%;
	opacity: 0.95;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
}

.num1div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 18%;
	margin-top: 18%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num2div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 4%;
	margin-top: -7.5%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num3div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 4%;
	margin-top: -7.5%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num4div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 18%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num5div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 4%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num6div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 4%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num7div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 18%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num8div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 4%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num9div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 4%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.num0div
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 18%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
}

.plusdiv
{
	background-color: rgb(102,204,255);
	width: 18%;
	height: 55px;
	margin-left: 8%;
	margin-top: -10%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
	font-weight: 600;
	font-size: 120%;
}

.minusdiv
{
	background-color: rgb(102,204,255);
	width: 18%;
	height: 55px;
	margin-left: 8%;
	margin-top: -13%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
	font-weight: 600;
	font-size: 120%;
}

.multdiv
{
	background-color: rgb(102,204,255);
	width: 18%;
	height: 55px;
	margin-left: 8%;
	margin-top: -13%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
	font-weight: 600;
	font-size: 120%;
}

.dividediv
{
	background-color: rgb(102,204,255);
	width: 18%;
	height: 55px;
	margin-left: 7.5%;
	margin-top: -13%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
	font-weight: 600;
	font-size: 120%;
}

.equaldiv
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 4%;
	margin-top: 4%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;

	font-weight: 600;
	font-size: 120%;
}

.clrdiv
{
	background-color: rgb(102,204,255);
	width: 10%;
	height: 55px;
	margin-left: 3%;
	margin-top: 3%;
	
	border-bottom-left-radius: 15%;
	border-top-right-radius: 15%;
	border-bottom-right-radius: 15%;
	border-top-left-radius: 15%;
	border: solid 8px #666666;
	
	text-align: center;
	line-height: 35px;
	font-size: 60%;
}

.Calculator_Display
{
	background-color: rgb(153,204,0);

	width: 15%;
	height: 35%;
	margin-top: 1%;
	margin-bottom: -14%;
	margin-left: 83%;
	border: groove 3px rgb(153,204,0);
	border-radius: 5px;
	padding: 0.2%;
	text-align: right;
	font-family: "Courier New", Courier, monospace;
	font-size: 115%;
}

.Digit_Display
{
	background-color: rgb(255,255,255);

	margin-left: 15%;
	width: 70%;
	height: 12%;
	margin-top: 2.5%;
	margin-bottom: -14%;
	opacity: 0.8;
	border: groove 5px rgb(102,204,255);
	border-radius: 5px;
	padding: 0.2%;
	text-align: right;
	font-family: "Courier New", Courier, monospace;
	font-size: 115%;
}

